<div class="container">

  <div class="row">

    <div class="col-xs-12 home_content" id="content">

      <%= render 'home/index/content_widgets', except: [:sponsor_bar] %>

    </div>

  </div>

  <%= render partial: 'home/index/about' %>

</div>

<!-- /.container -->
