<table style="width: 528px;">
  <tbody>
    <tr>
      <td style="width: 520px;">
        <p dir="ltr"><b>Support Team</b></p>
        <p dir="ltr">SAVINGS UNITED GmbH</p>
        <p dir="ltr"><a href="http://www.savings-united.com/" target="_blank" rel="noopener">www.savings-united.com</a></p>
        <p dir="ltr">Gro&szlig;e Elbstra&szlig;e 145D</p>
        <p dir="ltr">D-22767 Hamburg</p>
        <p dir="ltr">Fax: <a href="tel:+49%2030%2060984386" target="_blank" rel="noopener">+49 3060984386</a></p>
      </td>
    </tr>
  </tbody>
</table>
