<p>Dear reader!</p>

<p>Thank you for getting in touch with our Voucher Code Support Team.</p>

<p>We will investigate your query within <b>1 hour</b> on business days. Queries sent to us over weekend will be addressed on Monday morning.</p>

<p>Thank you for your patience and understanding</p>

<p>Best Regards</p>
