<!DOCTYPE html>
<html>
<head>
  <title>Server Error (500)</title>
</head>
<body style="text-align: center">
  <h1>Looks like something went wrong!</h1>
  <p style="text-align: center">We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
</body>
</html>
