$background-attachment: scroll !default;
$background-position:   0 0 !default;
$background-repeat:     repeat !default;
$background-size:       auto !default;

$color-ashes:       #4F5764 !default;
$color-berry:       #8801FF !default;
$color-cloud:       #ECF0F1 !default;
$color-cherry:      #E6314C !default;
$color-freedom:     #2ECC71 !default;
$color-juicy:       #F05632 !default;
$color-ready:       #E60000 !default;
$color-royal:       #7200FF !default;
$color-sky:         #07C !default;
$color-border:      #D8D8D8 !default;
$color-card-bg:     #F9F9F9 !default;
$color-title:       #262626 !default;
$color-headline:    #404040 !default;
$color-subheadline: #737373 !default;
$color-text:        #404040 !default;
$color-bg-hero:     #BBB !default;
$color-inactive:    #C6CFD1 !default;
$color-body-bg:     #ECECEC !default;
$color-header-bg:   #F6F6F6 !default;
$color-white:       #FFF !default;

$image-base-url: '/flat_2016/assets/images/flat_2016/';

