<% content_for :page_headlines do %>

  <h1 class="page-title"><%= t(:HEADLINE_SEARCH_FOR_TEXT, default: 'Search results for:') %></h1>

  <!-- /.page-title -->

  <p class="page-subtitle"><b><%= query %></b></p>

  <!-- /.page-subtitle -->

<% end %>
