@media #{$min-md} {
  .home {
    .w-featured__exclusive {
      margin-top: 4px;
    }
  }

  .categories,
  .searches,
  .coupons {
    .w-featured__exclusive {
      margin-bottom: 30px;
    }
  }

  .coupon {
    &__label--exclusive {
      position: absolute;
      padding: 4px 6px 2px 0;
      color: $color-exclusive-desktop;
      font-weight: bold;
      background-color: $background-color-exclusive-desktop;
      border: $border-exclusive-desktop;
      border-radius: $border-radius-desktop;

      i.icon-star {
        padding: 0 5px;
        content: $star-one;
      }
    }

    &__tag {
      top: 0;
      right: 0;
      width: 100%;
      padding-right: 60px;
      color: $color-editor-desktop;
      text-align: right;
      border-top: $border-top-normal;

      .icon-tag::before {
        position: absolute;
        right: 53px;
        margin: -1px -21px 0 0;
        content: $editorstag-normal-desktop;
      }
    }
  }

  .shops,
  .categories,
  .searches,
  .coupons {
    .coupon {
      &__label--exclusive {
        position: absolute;
        width: auto;
        padding-right: 10px;
        color: $color-exclusive-desktop;
        font-weight: bold;
        border: $border-exclusive-desktop;
        border-radius: $border-radius-desktop;

        i.icon-star {
          padding: 0 5px;
        }
      }
    }

    .coupon--large {
      .coupon {
        &__label--exclusive {
          bottom: 12px;
          margin-left: 179px;
          color: $color-exclusive-large-desktop;
          background-color: $background-color-exclusive-large-desktop;
        }

        &__tag {
          top: 18px;
          width: 50%;
          margin: -9px -21px 0 0;
          color: $color-editor-large-desktop;
          font-size: 20px;
          border: none;

          .icon-tag::before {
            bottom: 8px;
            content: $editorstag-large-desktop;
          }
        }
      }
    }
  }
}

@media #{$md} {
  .coupon {
    &__label--exclusive {
      position: absolute;
      padding: 3px 7px 3px 1px;
      color: $color-exclusive-mobile;
      font-weight: bold;
      font-size: 12px;
      background-color: $background-color-exclusive-mobile;
      border: $border-exclusive-mobile;
      border-radius: $border-radius-mobile;

      i.icon-star {
        padding: 0 5px;
        content: $star-one;
      }
    }

    &__tag {
      top: unset;
      bottom: 7px;
      left: 160px;
      width: 50%;
      padding-right: 60px;
      color: $color-editor-mobile;
      font-size: 14px;
      text-align: right;

      .icon-tag::before {
        position: absolute;
        right: 53px;
        margin: -1px -21px 0 0;
        content: $editorstag-normal-mobile;
      }
    }
  }

  .shops,
  .categories,
  .searches,
  .coupons {
    .coupon {
      &__label--exclusive {
        position: absolute;
        width: 90px;
        padding-right: 10px;
        color: $color-exclusive-mobile;
        font-weight: bold;
        border: $border-exclusive-mobile;
        border-radius: $border-radius-mobile;

        i.icon-star {
          padding: 0 5px;
        }
      }
    }

    .coupon--large {
      .coupon {
        &__label--exclusive {
          color: $color-exclusive-large-mobile;
          font-size: 14px;
          background-color: $background-color-exclusive-large-mobile;
        }

        &__tag {
          top: unset;
          right: 0;
          bottom: 7px;
          left: unset;
          width: 50%;
          margin: -9px -21px 0 0;
          color: $color-editor-large-mobile;
          font-size: 10px;
          border: none;

          .icon-tag::before {
            bottom: -3px;
            content: $editorstag-large-mobile;
          }
        }
      }
    }
  }
}

.campaigns {
  .coupon {
    &__label--exclusive {
      margin: 8px;
      font-size: 13px;
      text-transform: capitalize;
    }
  }
}

.categories,
.searches,
.coupons {
  .coupon {
    &__label--exclusive {
      width: 100px;
    }

    @media #{$sm} {
      &__aside {
        img {
          border: 1px solid #E0E0E0;
        }
      }
    }
  }
}
