.pannacotta {
  .bg-ashes,
  .bg-berry,
  .bg-cloud,
  .bg-cherry,
  .bg-freedom,
  .bg-gold,
  .bg-juicy,
  .bg-mamba,
  .bg-ready,
  .bg-royal,
  .bg-sky {
    color: #fff;
  }

  .bg-ashes {
    background-color: $color-ashes !important;
  }

  .bg-berry {
    background-color: $color-berry !important;
  }

  .bg-cloud {
    background-color: $color-cloud !important;
    color: $color-text;
  }

  .bg-cherry {
    background-color: $color-cherry !important;
  }

  .bg-freedom {
    background-color: $color-freedom !important;
  }

  .bg-gold {
    background-color: $color-gold !important;
  }

  .bg-juicy {
    background-color: $color-juicy !important;
  }

  .bg-mamba {
    background-color: $color-mamba !important;
  }

  .bg-ready {
    background-color: $color-ready !important;
  }

  .bg-royal {
    background-color: $color-royal !important;
  }

  .bg-sky {
    background-color: $color-sky !important;
  }
} 
