.pannacotta {
  .list-circle {
    border: 2px solid $color-ready;
    border-radius: 3px;
    color: transparent;
    display: inline-block;
    height: 6px;
    margin: 0 10px 0 0;
    width: 6px;
    position: relative;
    top: -2px;
  }

  .list-three-cols {
  }

  .text-lighter {
    font-weight: lighter;
  }
}

/*** Flexslider ***/

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

@media (min-width: 768px) {
  .pannacotta {
    .list-three-cols {
      > li {
        display: inline-block;
        width: 49%;
      }
    }
    .list-two-cols {
      > li {
        display: inline-block;
        width: 49%;
      }
    }
  }
}

@media (min-width: 992px) {
  .pannacotta {
    .list-three-cols {
      > li {
        width: 32%;
      }
    }
  }
}

@media (min-width: 1200px) {
}
