$background-attachment: scroll;
$background-position:   0 0;
$background-repeat:     repeat;
$background-size:       auto;

$color-ashes:       #a1a1a1;
$color-berry:       #8801ff;
$color-cloud:       #ecf0f1;
$color-cherry:      #e6314c;
$color-freedom:     #2ecc71;
$color-gold:        #fedb6d;
$color-juicy:       #f05632;
$color-mamba:       #2c3e50;
$color-ready:       #E60000;
$color-royal:       #7200ff;
$color-sky:         #004CCC;
$color-border:      #d8d8d8;
$color-card-bg:     #f9f9f9;
$color-title:       #262626;
$color-headline:    #404040;
$color-subheadline: #737373;
$color-text:        #404040;
$color-inactive:    #c6cfd1;
$color-body-bg:     #ececec;
$color-header-bg:   #f6f6f6;
$color-white:       #ffffff;

$image-base-url:    '';

// rebatly colors
$color-freedom:     #37bb9d;
$color-ready:       #B30035;
$color-rebatly:     #3f51b5;
$color-sky:         #004CCC;
$color-headline:    #212121;
$color-body-bg:     #f6f6f6;
$color-link:        #004CCC;
$color-ashes:       #404040;

$color-rebatly-dark: #252525;
