@charset "UTF-8";

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

b {
  font-weight: 700;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

button,
input {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type=checkbox] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-12,
.col-md-4,
.col-md-8,
.col-sm-12,
.col-sm-2,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-xs-12,
.col-xs-3,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-12,
.col-xs-3,
.col-xs-6 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-3 {
  width: 25%;
}

@media (min-width: 768px) {
  .col-sm-12,
  .col-sm-2,
  .col-sm-4,
  .col-sm-6,
  .col-sm-8 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }
}

@media (min-width: 992px) {
  .col-md-12,
  .col-md-4,
  .col-md-8 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }
}

table {
  background-color: transparent;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control::-moz-placeholder {
  color: #595959;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #595959;
}

.form-control::-webkit-input-placeholder {
  color: #595959;
}

input[type=search] {
  -webkit-appearance: none;
}

.form-group {
  margin-bottom: 15px;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
}

.checkbox input[type=checkbox] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.fade {
  opacity: 0;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group>.btn {
  position: relative;
  float: left;
}

.btn-group .btn+.btn {
  margin-left: -1px;
}

.btn-group>.btn:first-child {
  margin-left: 0;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-pills>li {
  float: left;
}

.nav-pills>li>a {
  border-radius: 4px;
}

.nav-pills>li+li {
  margin-left: 2px;
}

.nav-pills>li.active>a {
  color: #fff;
  background-color: #337ab7;
}

.nav-justified {
  width: 100%;
}

.nav-justified>li {
  float: none;
}

.nav-justified>li>a {
  margin-bottom: 5px;
  text-align: center;
}

@media (min-width: 768px) {
  .nav-justified>li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified>li>a {
    margin-bottom: 0;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.breadcrumb>li {
  display: inline-block;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.breadcrumbs-home {
  display: none;
}

.breadcrumb>.active {
  color: #4A4A4A;
}

.pagination>li {
  display: inline;
}

.pagination>li>a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>.disabled>a {
  color: #4A4A4A;
  background-color: #fff;
  border-color: #ddd;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.container:after,
.container:before,
.nav:after,
.nav:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.container:after,
.nav:after,
.row:after {
  clear: both;
}

.pull-left {
  float: left!important;
}

.show {
  display: block!important;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.navmenu {
  width: 300px;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.navmenu-fixed-left {
  position: fixed;
  z-index: 1030;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  border-radius: 0;
}

.navmenu-fixed-left {
  left: 0;
  right: auto;
  border-width: 0 1px 0 0;
}

.navmenu-nav {
  margin-bottom: 10px;
}

.offcanvas {
  display: none;
}

.pull-left {
  float: left;
}

.pannacotta h1,
.pannacotta h2 {
  letter-spacing: -0.016em;
}

@font-face {
  font-family: 'mighty-roberto';
  src: url("https://static.savings-united.com/pc/assets/flat_2016/mighty-roberto.eot");
  src: url("https://static.savings-united.com/pc/assets/flat_2016/mighty-roberto.eot#iefix") format("embedded-opentype"), url("https://static.savings-united.com/pc/assets/flat_2016/mighty-roberto.woff2") format("woff2"), url("https://static.savings-united.com/pc/assets/flat_2016/mighty-roberto.woff") format("woff"), url("https://static.savings-united.com/pc/assets/flat_2016/mighty-roberto.ttf") format("truetype"), url("https://static.savings-united.com/pc/assets/flat_2016/mighty-roberto.svg#mighty-roberto") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="roberto-"]:before,
[class*=" roberto-"]:before {
  font-family: "mighty-roberto";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.roberto-arrow-right:before {
  content: '\e800';
}

.roberto-home:before {
  content: '\e809';
}

.roberto-menu-hamburger:before {
  content: '\e80a';
}

.roberto-search:before {
  content: '\e80c';
}

.roberto-heart-empty:before {
  content: '\e821';
}

.roberto-paper-plane:before {
  content: '\e822';
}

.roberto-down-dir:before {
  content: '\e823';
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.pannacotta .btn-cloud,
.pannacotta .btn-ready,
.pannacotta .btn-transparent {
  border-radius: 0px;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 24px;
}

.pannacotta .btn-cloud {
  background-color: #ecf0f1;
  color: #404040;
  opacity: 1;
}

.pannacotta .btn-ready {
  background-color: #E60000;
  color: white;
  opacity: 1;
}

.pannacotta .btn-transparent {
  background-color: rgba(255, 255, 255, 0);
  color: #d8d8d8;
  opacity: 1;
}

.pannacotta .btn-no-border {
  border-bottom: none;
  padding: 12px 24px !important;
}

@media (min-width: 992px) {
  .pannacotta .btn-no-border {
    padding: 16px 24px !important;
  }
}

.pannacotta.card {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
}

.pannacotta.card .card-header {
  padding: 25px;
}

.pannacotta.card .card-header.with-border-bottom {
  border-bottom: 1px solid #d8d8d8;
}

.pannacotta.card .card-header .card-title {
  color: #262626;
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
}

.pannacotta .color-sky {
  color: #0077cc;
}

.pannacotta .list-circle {
  border: 2px solid #E60000;
  border-radius: 3px;
  color: transparent;
  display: inline-block;
  height: 6px;
  margin: 0 10px 0 0;
  width: 6px;
  position: relative;
  top: -2px;
}

@media (min-width: 768px) {
  .pannacotta .list-three-cols>li {
    display: inline-block;
    width: 49%;
  }
}

@media (min-width: 992px) {
  .pannacotta .list-three-cols>li {
    width: 32%;
  }
}

.pannacotta.card-breadcrumbs .card-content {
  padding: 0;
}

.pannacotta.card-breadcrumbs .card-content .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin: -15px 0 18px;
  padding: 0;
}

.pannacotta.card-breadcrumbs .card-content .breadcrumb>li+li:before {
  color: #d8d8d8;
  content: "\e803";
  font-family: "mighty-roberto";
  font-size: 8px;
  font-weight: lighter;
}

.pannacotta.card-breadcrumbs .card-content .breadcrumb li {
  display: inline;
}

.pannacotta.card-breadcrumbs .card-content .breadcrumb li.active a {
  border-bottom: 1px solid transparent;
  color: #404040;
  font-size: 14px;
  font-weight: lighter;
  font-size: 12px;
}

.pannacotta.card-breadcrumbs .card-content .breadcrumb li a {
  border-bottom: 1px solid transparent;
  color: #0077cc;
  font-size: 14px;
  font-weight: lighter;
  font-size: 12px;
}

.pannacotta.card-breadcrumbs .card-content .breadcrumb li a i {
  font-size: 14px;
  font-weight: lighter;
}

@media (max-width: 767px) {
  .pannacotta.card-breadcrumbs {
    display: none;
  }
}

.pannacotta.card-shop-filter .card-content {
  padding: 0px 0px 0px 20px;
}

.pannacotta.card-shop-filter .card-content ul {
  margin-bottom: 0px;
}

.pannacotta.card-shop-filter .card-content ul li {
  margin-bottom: 4px;
}

.pannacotta.card-shop-filter .card-content .checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pannacotta.card-shop-filter .card-content .checkbox input[type=checkbox] {
  margin-left: -16px;
}

.pannacotta.card-shop-filter .card-content .filters-list {
  max-height: 285px;
  overflow-x: hidden;
}

.pannacotta#header {
  background-color: white;
  margin-bottom: 28px;
}

.pannacotta#header .topbar {
  background-color: #404040;
  font-size: 11px;
  height: 26px;
  line-height: 26px;
  text-align: center;
}

.pannacotta#header .topbar ul {
  display: inline-block;
  font-size: 12px;
}

.pannacotta#header .topbar ul.nav-pills>li+li {
  margin-left: 0px;
}

.pannacotta#header .topbar ul li a,
.pannacotta#header .topbar ul li span {
  border-radius: 0;
  color: white;
  padding: 0 12px;
}

.pannacotta#header .topbar ul li a.reverse {
  background-color: #E60000;
  color: #fff;
}

.pannacotta#header .navbar-toggle {
  font-size: 24px;
  margin: 0;
  padding: 14px 0 !important;
  width: 100%;
}

.pannacotta#header .site-logo {
  margin: 16px 0;
  text-align: center;
}

.pannacotta#header .site-logo img {
  display: inherit;
  margin: -8px auto 0 0;
  max-height: 40px;
  width: auto;
}

.flat-navmenu-default {
  background-color: #404040;
  border: none;
  width: 240px;
}

.flat-navmenu-default .search-navigation-mobile .form-group {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
}

.flat-navmenu-default .search-navigation-mobile .form-group label i {
  background-color: #fff;
  color: #c6cfd1;
  font-size: 14px;
  height: 94px;
  margin: 0;
  padding: 37px 0 37px 25px;
}

.flat-navmenu-default #input_search_navigation_mobile {
  border: 0;
  border-radius: 0;
  color: #404040;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  height: 94px;
  margin: 0;
  padding: 37px 25px 37px 0;
  width: 197px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flat-navmenu-default .nav>li>a {
  border-bottom: 1px solid #272727;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: lighter;
  padding: 25px;
}

@media (min-width: 768px) {
  .pannacotta#header .topbar {
    height: auto;
    line-height: 31px;
  }

  .pannacotta#header .topbar ul.primary {
    float: right;
  }

  .pannacotta#header .topbar ul.secondary {
    float: left;
  }

  .pannacotta#header .secondary-nav {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #E60000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .pannacotta#header .secondary-nav .nav-pills>li>a {
    border-radius: 0;
    color: #404040;
  }

  .pannacotta#header .site-logo a {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
  }

  .pannacotta#header .site-logo img {
    max-height: 44px;
  }

  .pannacotta#header .search-header {
    border: 1px solid #ececec;
    border-radius: 2px;
    padding: 4px;
    margin: 14px 0;
  }

  .pannacotta#header .search-header input {
    width: 170px;
  }

  .pannacotta#header .search-header #input_search_header {
    border: none;
    color: #c6cfd1;
    font-size: 12px;
    font-weight: lighter;
    padding: 0 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .pannacotta#header .search-header .btn {
    font-size: 14px;
    padding: 6px 9px 5px;
  }

  .pannacotta#header #main-menu>ul>li {
    height: 72px;
    vertical-align: middle;
  }

  .pannacotta#header #main-menu>ul>li.active>a {
    background-color: transparent;
    color: #E60000;
  }

  .pannacotta#header #main-menu>ul>li>a {
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    padding: 0 4px;
  }

  .pannacotta.sub-menu {
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #d8d8d8;
    padding-top: 25px;
    border-top: 2px solid #E60000;
    position: absolute;
    left: 0;
    right: 0;
    top: 103px;
    z-index: 998;
  }

  .pannacotta.sub-menu a {
    color: #404040;
    font-size: 14px;
    font-weight: lighter;
  }

  .pannacotta.sub-menu p.text-center {
    border-top: 1px solid #d8d8d8;
    margin-top: 15px;
    padding-top: 10px;
  }

  .pannacotta.sub-menu p.text-center a {
    font-weight: bold;
  }

  .pannacotta .sub-menu__categories {
    background: rgba(255, 255, 255, 0.95);
    border-top: 2px solid #E60000;
    position: absolute;
    right: 0;
    top: 72px;
    z-index: 998;
  }

  .pannacotta .sub-menu__categories a {
    color: #404040;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
  }

  .pannacotta .sub-menu__categories li.nav-see-more {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }

  .pannacotta .sub-menu__categories li.nav-see-more a {
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .pannacotta#header .topbar {
    line-height: 36px;
    font-size: 12px;
  }

  .pannacotta#header .site-logo {
    margin: 25px 0;
  }

  .pannacotta#header .search-header {
    margin: 23px 0;
  }

  .pannacotta#header .search-header input {
    width: 245px;
  }

  .pannacotta#header #main-menu>ul>li {
    height: 90px;
  }

  .pannacotta#header #main-menu>ul>li>a {
    font-size: 16px;
  }

  .pannacotta#header .secondary-nav {
    font-size: 14px;
  }

  .pannacotta.sub-menu {
    top: 126px;
  }

  .pannacotta .sub-menu__categories {
    top: 90px;
  }
}

@media (min-width: 1200px) {
  .pannacotta#header .search-header input {
    width: 310px;
  }
}

@media (min-width: 768px) {
  #search-header-results {
    overflow: hidden;
  }
}

.sidebar.pannacotta h2 {
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.sidebar.pannacotta li {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .sidebar.pannacotta h2 {
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 32px;
  }
}

.pannacotta#my-modal .modal-content {
  background-color: #f6f6f6;
  border-radius: 0;
  color: #404040;
  font-size: 14px;
  font-weight: lighter;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .pannacotta#my-modal .modal-dialog {
    width: 650px;
  }
}

.pannacotta.top-x-coupons .list-coupons-as-items {
  margin-bottom: 0px;
}

.pannacotta.top-x-coupons .list-coupons-as-items .coupon-item {
  font-weight: lighter;
}

.pannacotta.top-x-coupons .list-coupons-as-items:nth-child(2) {
  display: none;
  visibility: hidden;
}

.pannacotta.category-featured-shops ul {
  margin: 0px 0 25px 0;
  display: flex;
}

.pannacotta.category-featured-shops ul li {
  flex-direction: row;
  background-color: white;
  border: 1px solid #d8d8d8;
  margin: 0 4px;
}

.pannacotta.category-featured-shops ul li:nth-child(3) {
  margin-right: 0px;
}

.pannacotta.category-featured-shops ul li:first-child {
  margin-left: 0px;
}

@media (min-width: 768px) {
  .pannacotta.category-featured-shops ul li:nth-child(3) {
    margin-right: 0px;
  }
}

.pannacotta.card-see-more-categories .card-content {
  padding: 0 25px 15px;
}

.pannacotta.card-see-more-categories .card-content ul>li>a {
  border-bottom: 1px solid transparent;
  color: #0077cc;
  font-size: 14px;
  font-weight: lighter;
}

.pannacotta.card-coupons-list.card {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
}

.pannacotta.card-coupons-list .card-content {
  background-color: transparent;
}

.pannacotta.card-coupons-list .card-content>ul li.item {
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #d8d8d8;
  padding: 0;
  margin-bottom: 6px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.pannacotta.card-coupons-list .card-content>ul li.item .show-coupon-details {
  color: #337ab7;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-info {
  margin: 20px auto;
  text-align: left;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-info tr td {
  vertical-align: top;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-info tr td:first-child {
  padding-right: 10px;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-header,
.pannacotta.card-coupons-list .card-content>ul li.item .coupon-body,
.pannacotta.card-coupons-list .card-content>ul li.item .coupon-footer {
  padding: 0 12px;
  position: relative;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-header {
  padding: 24px 12px;
  margin-bottom: 24px;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-body .divider {
  display: flex;
  position: absolute;
  top: -24px;
  left: 0;
  flex-direction: row;
  padding: 0 24px;
  justify-content: space-between;
  width: 100%;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-body .divider li {
  display: block;
  border-radius: 100%;
  background-color: #ececec;
  border: 1px solid #d8d8d8;
  width: 8px;
  height: 8px;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-body::before {
  border-radius: 100%;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #d8d8d8;
  background-color: #ececec;
  position: absolute;
  left: -12px;
  top: -32px;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-body::after {
  border-radius: 100%;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #d8d8d8;
  background-color: #ececec;
  position: absolute;
  right: -12px;
  top: -32px;
}

.pannacotta.card-coupons-list .card-content>ul li.item .coupon-footer {
  padding-top: 50px;
}

.pannacotta.card-coupons-list .card-content .coupon-logo {
  color: inherit;
  display: block;
  text-align: center;
}

.pannacotta.card-coupons-list .card-content .coupon-logo span {
  display: inline-block;
  font-size: 24px;
  margin: 12px 0;
}

.pannacotta.card-coupons-list .card-content .coupon-logo span.type {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pannacotta.card-coupons-list .card-content .coupon-title {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 8px 0;
  padding: 0 12px;
  text-align: center;
}

.pannacotta.card-coupons-list .card-content .coupon-description {
  color: #737373;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 8px;
  padding: 0 12px;
  text-align: center;
}

.pannacotta.card-coupons-list .card-content .visible-xs .editors-pick {
  padding: 0 12px;
  font-size: 13px;
  display: inline-block;
  margin-top: 8px;
}

.pannacotta.card-coupons-list .card-content .coupon-additional-info>span {
  font-size: 12px;
  margin-right: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

.pannacotta.card-coupons-list .card-content .coupon-social {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 5px;
}

.pannacotta.card-coupons-list .card-content .coupon-social>span {
  font-size: 20px;
  margin: 7px 7px 0 0;
  color: #333;
  display: inline-block;
}

.pannacotta.card-coupons-list .card-content .coupon-social .coupon-like {
  text-align: center;
}

@media (min-width: 768px) {
  .pannacotta.card-coupons-list .card-content>ul li.item {
    min-height: 160px;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-header,
  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-body,
  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-footer {
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-header,
  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-footer {
    padding-top: 40px;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-info {
    margin: 15px 0;
    font-size: 12px;
    text-align: left;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-header {
    margin: 0;
    padding-right: 16px;
    width: 20%;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-additional-info {
    display: inherit;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-body {
    padding-left: 24px;
    padding-right: 4px;
    padding-bottom: 30px;
    width: 48%;
    min-height: 159px;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-body .divider {
    top: 0;
    left: -4px;
    flex-direction: column;
    padding: 18px 0;
    justify-content: space-between;
    height: 100%;
    width: auto;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-body::before {
    top: -12px;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-body::after {
    left: -12px;
    bottom: -12px;
    top: inherit;
    right: inherit;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-footer {
    width: 32%;
  }


  .pannacotta.card-coupons-list .card-content .coupon-logo .amount {
    display: block;
    font-size: 30px;
    margin: 0;
  }

  .pannacotta.card-coupons-list .card-content .coupon-logo .type {
    font-size: 14px;
    margin: 0;
  }

  .pannacotta.card-coupons-list .card-content .coupon-logo .type {
    width: 100%;
  }

  .pannacotta.card-coupons-list .card-content .coupon-title {
    font-size: 18px;
    margin-top: 12px;
    overflow: hidden;
    padding: 0;
    text-align: left;
  }

  .pannacotta.card-coupons-list .card-content .coupon-description {
    font-size: 13px;
    margin: 0 0 8px 0;
    min-height: 52px;
    padding: 0;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-body {
    padding-left: 36px;
    padding-right: 8px;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-title {
    font-size: 20px;
    line-height: 24px;
  }

  .pannacotta.card-coupons-list .card-content>ul li.item .coupon-description {
    font-size: 14px;
    line-height: 18px;
  }
}
.pannacotta.card-pagination .card-content .pagination>li.disabled {
  display: none !important;
}

.pannacotta.card-pagination .card-content .pagination>li>a {
  border: none;
  border-radius: 0;
  color: #0077cc;
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
  padding: 7px 13px;
}

.list-coupons-as-items .coupon-item {
  background-color: white;
  border: 1px solid #d8d8d8;
  height: 92px;
}

.list-coupons-as-items .coupon-item a>img {
  height: 90px;
  width: 90px;
}

.list-coupons-as-items .coupon-item a .content {
  color: #404040;
  display: table;
  font-size: 11px;
  height: 100%;
  padding: 12px;
}

.list-coupons-as-items .coupon-item a .content span {
  font-weight: 500;
  display: block;
  font-size: 12px;
  margin-bottom: 6px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .list-coupons-as-items .coupon-item {
    height: 112px;
  }

  .list-coupons-as-items .coupon-item a>img {
    height: 110px;
    width: 110px;
  }

  .list-coupons-as-items .coupon-item a .content {
    font-size: 13px;
  }

  .list-coupons-as-items .coupon-item a .content span {
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    margin-top: 1px;
  }
}

@media (min-width: 992px) {
  .list-coupons-as-items .coupon-item a .content {
    font-size: 14px;
  }
}

.pannacotta.card-shop-header {
  margin-bottom: 20px;
  text-align: center;
}

.pannacotta.card-shop-header .shop-header-title .page-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 10px 0;
}

.pannacotta.card-shop-header .category-description {
  overflow: hidden;
  margin-top: 20px;
}

.pannacotta.card-shop-header .category-description h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px;
}

@media (min-width: 768px) {
  .pannacotta.card-shop-header {
    margin-bottom: 28px;
    text-align: left;
  }

  .pannacotta.card-shop-header .shop-header-title {
    display: flex;
    flex-direction: column;
  }

  .pannacotta.card-shop-header .shop-header-title .page-title {
    font-size: 30px;
    margin: 0 0 15px;
  }
}

@media (min-width: 992px) {
  .pannacotta.card-shop-header {
    margin-bottom: 20px;
  }

  .pannacotta.card-shop-header .shop-header-title .page-title {
    font-size: 32px;
  }
}

body {
  background-attachment: scroll;
  background-color: #ececec;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

b {
  font-weight: bold;
}

.form-control {
  border-radius: 0px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.coupon-cta {
    width: 100%;
    padding: 20px 0;
    text-align: center
}
.card-coupons-grid .coupon-cta {
    padding: 0px
}
@media (min-width: 768px) {
    .coupon-cta {
        padding-top: 0px
    }
}
@media (min-width: 992px) {
    .coupon-cta {
        padding-top: 20px
    }
}
@media (min-width: 1200px) {
    .coupon-cta {
        padding-top: 0px
    }
}
.o-button {
    display: inline-block;
    min-width: 175px;
    height: 40px;
    background-color: #E60000;
    border-radius: 3px;
    -webkit-box-shadow: inset -3px -3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset -3px -3px 0 rgba(0, 0, 0, 0.2);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    padding: 0 20px;
    white-space: nowrap;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    cursor: pointer;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    display: inline-block;
    left: auto;
    right: auto;
    margin: 0 auto;
    font-size: 11px;
    padding-right: 20px
}
.o-button:hover {
    background-color: #fa0000
}
.o-button.c-button {
    padding: 0 50px 0 8px
}
.o-button.c-button span.code {
    display: inline-block;
    background: #ff4d4d;
    color: #000;
    position: absolute;
    right: 0px;
    width: 43px;
    line-height: 40px;
    padding-top: 2px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    -webkit-box-shadow: inset 7px 0 9px -6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 7px 0 9px -6px rgba(0, 0, 0, 0.4)
}
.searches.index .pannacotta.card-shop-header .page-subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
label.privacy_policy {
  font-weight: normal;
}

label.privacy_policy a {
  color: #fff;
  text-decoration: underline;
}
