.pannacotta {
  &.popular-shops {
    ul {
      margin-bottom: 0;

      li {
        margin-bottom: 0;

        a {
          line-height: 40px;
          margin-bottom: 5px;
          display: inline-block;
          width: 100%;

          span {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background-color: #FFF;
            float: left;
            margin-right: 10px;
            display: inline-block;
            overflow: hidden;
            line-height: 40px;

            img {
              width: 40px;
              height: 40px;
              position: relative;
              top: -1px;
            }
          }
        }
      }
    }
  }
}
