<div class="fade modal pannacotta" id="my-modal">

  <div class="modal-dialog">

    <div class="modal-content">
      
    </div>

    <!-- /.modal-content -->

  </div>

  <!-- /.modal-dialog -->

</div>

<!-- /#my-modal.fade modal pannacotta -->
