<div class="modal-dialog">

  <div class="modal-content">

    <%= form_for [:admin, @global], method: :get, url: export_admin_globals_path, :html => { :class => 'form form-horizontal',
      id: 'export-form',
      style: 'margin-bottom: 0',
      onsubmit: 'jQuery(this).find(".btn.btn-primary").val("Loading, please wait...").attr("disabled", true);'} do |f| %>

    <div class="modal-header">

      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      <h4 class="modal-title" id="myModalLabel">Export Form</h4>

    </div>

    <div class="modal-body">

    </div>

    <div class="modal-footer">

        <%= f.submit 'Export Globals', :class => 'btn btn-primary' %>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    </div>

    <% end # form %>

  </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
