@import "./see-more-categories";
@import "./shop-filter";

@critical categories.css {
  .categories {
    $this: &;

    &.index .page-title {
      margin: 26px 0 3px;
      text-align: center;
    }

    &.show {
      @media #{$md} {
        #content {
          order: 1;
        }

        .sidebar {
          display: none;
        }
      }
    }

    .page-subtitle {
      text-align: center;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      padding-left: 0;
      list-style-type: none;
    }

    &__item {
      margin-bottom: 18px;
    }

    &__link {
      display: block;
      padding: 34px 5px 14px;
      color: #FFF;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      background-color: $topbar-bg;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      &:hover {
        text-decoration: none;

        #{$this}__name {
          color: #FFF;
          text-decoration: underline;
        }
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      margin: 0 auto;
      color: $bullets-color;
      font-size: 31px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
    }

    &__name {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 68px;
      line-height: 1.1;
    }

    &__seo-text {
      margin-top: 22px;

      p {
        margin-left: 66px;
        font-size: 14px;
        line-height: 1.3;

        @media #{$sm} {
          margin-left: 0;
        }
      }
    }

    &__seo-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      width: 48px;
      height: 48px;
      font-size: 22px;
      border: 2px solid $bullets-color;
      border-radius: 50%;

      @media #{$sm} {
        display: none;
      }
    }
  }
}
