.expired-coupons {
  margin-top: 26px;
  filter: grayscale(1) contrast(0.93);
  //pointer-events: none;

  .clickout {
    cursor: initial;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 24px;
  }
}
