@media (max-width: 991px) {
  .shop-info-mobile {
    @include default-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39px;
    padding: 20px 17px;

    &__title {
      display: inline-block;
      margin: 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.1;
    }

    &__logo {
      border: 1px solid $border-color;
    }
  }
}
