<div class="col-sm-12">
  <div class="box bordered-box blue-border" style="margin-bottom:0;">
    <div class="box-header blue-background">
      <div class="title">Import File Example</div>
    </div>
    <div class="box-content box-no-padding">
      <div class="responsive-table">
        <div class="scrollable-area">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>coupon_code_id</th>
                <th>coupon_id</th>
                <th>code</th>
                <th>end_date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1235</td>
                <td>6005</td>
                <td>unique-code-1</td>
                <td>2015-12-31</td>
              </tr>
              <tr>
                <td>1234</td>
                <td>6004</td>
                <td>unique-code-2</td>
                <td>2015-12-31</td>
              </tr>
              <tr>
                <td>1233</td>
                <td>6003</td>
                <td>unique-code-3</td>
                <td>2015-12-31</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
