<% content_for :content do %>

  <div class="container">

    <div class="row">

      <div class="col-xs-12 pannacotta" id="content" role="main">

        <%- if content_for? :shop_header -%>

          <%= yield :shop_header %>

        <%- else -%>

          <%- if content_for(:page_headlines) -%>

            <div class="pannacotta card-shop-header header-no-image">

              <div class="row">

                <div class="col-xs-12 col-sm-10 shop-header-title">

                  <%= (content_for?(:page_headlines)) ? yield(:page_headlines) : '&nbsp;'.html_safe %>

                </div>
                <!-- /.col-xs-12 col-sm-6 col-lg-7 -->

              </div>

            </div>

          <%- end -%>

        <%- end -%>

        <%= yield %>

      </div>

      <!-- /#content.col-xs-12 col-sm-12 col-md-8 pannacotta -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

<% end %>

<%= render template: "layouts/empty" %>
