<div class="form-group">
  <%= ff.label :content, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
      <%= ff.text_area :content, class: 'form-control tinymce text_area' %>
  </div>
</div>
<div class="form-group">
  <%= ff.label :image_url, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
      <%= ff.text_field :image_url, class: 'form-control tinymce text_area' %>
  </div>
</div>

