<div class="form-group">
  <%= ff.label :teaser_links, class: 'col-md-2 control-label' %>
  <div class="col-md-10">
      <%= ff.text_field :teaser_links, class: 'form-control' %>
      <div class="help-block"><small>like: Coupons|#campaign-coupons,Categories|#campaign-featured-images,Shops|#campaign-related-shops</small></div>
  </div>
</div>
<div class="form-group">
  <div class="col-md-12">
    <small>
    Quicklinks can by any URL or an ID of any HTML element on the page (use developer tools to find them)<br>
    <br>
    Some example IDs of popular widgets are:<br>
    #about-campaign<br>
    #featured-images<br>
    #hot-offers<br>
    #full-newsletter<br>
    #top-links<br>
    #shop-bubbles<br>
    #subpage-teaser<br>
    #top-sales<br>
    #top-x-coupons<br>
    </small>
  </div>
</div>
