<hr>

<div class="form-group">
  <%= ff.label 'Coupon IDs', :class => 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= ff.text_field :rotated_coupon_ids, class: 'form-control' %>
  </div>
</div>
