<h2 class="section text-center mt-4 mb-3"><%= values[:title] %></h2>

<div class="pannacotta featured-categories">

  <div class="container">

    <div class="row">

      <div class="col-12">

        <ul class="list-unstyled mb-0">

          <%- for image in values[:images] -%>

            <li class="mb-0">

              <a href="<%= image[:url] %>" style="background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)), url(<%= image[:src] %>);">

                <h3><%= image[:title] %></h3>

              </a>

            </li>
            <!-- /.mb-0 -->

          <%- end -%>

        </ul>
        <!-- /.featured-images -->

      </div>
      <!-- /.col-12 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>

