<div class="box box-help <%= values[:css_class] %>">

  <div class="box-header bg-sky">

    <h3><i class="picon picon-<%= values[:header_icon] %>"></i> <%= values[:title] %></h3>

  </div>

  <!-- /.box-header -->

  <div class="box-content">

    <%= render partial: 'shared/help_widget_slider' %>

  </div>

  <!-- /.box-content -->

</div>

<!-- /.box box-help -->
