<div class="col-sm-12">
  <div class="box bordered-box blue-border" style="margin-bottom:0;">
    <div class="box-header blue-background">
      <div class="title">Import File Example</div>
    </div>
    <div class="box-content box-no-padding">
      <div class="responsive-table">
        <div class="scrollable-area">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Status</th>
                <th>Parent ID</th>
                <th>Shop</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Coupon Filter Headline</th>
                <th>H1 First Line</th>
                <th>H1 Second Line</th>
                <th>H2</th>
                <th>Welcome Text</th>
                <th>Show Nav Link</th>
                <th>Nav Title</th>
                <th>SEO Text Headline</th>
                <th>SEO Text</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Meta Robots</th>
                <th>Meta Keywords</th>
                <th>Meta Description</th>
                <th>Meta Title</th>
                <th>Custom Head Scripts</th>
                <th>Show Footer</th>
                <th>Show Header Logo Area</th>
                <th>Show Coupon List Filter</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>active</td>
                <td>1</td>
                <td>Amazon</td>
                <td>Campaign 1</td>
                <td>campaign-1</td>
                <td>Filter By ???</td>
                <td>Heading 1 first</td>
                <td>Heading 1 second</td>
                <td>Heading 2</td>
                <td>My Welcome Text</td>
                <td>yes</td>
                <td>Exclusive Nav</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>2014-03-15</td>
                <td>2014-03-17</td>
                <td>index,follow</td>
                <td>campaign keyword</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Campaign 1 Title</td>
                <td>&lt;script&gt;console.log('My head script')&lt;/script&gt;</td>
                <td>yes</td>
                <td>no</td>
                <td>yes</td>
              </tr>
              <tr>
                <td>blocked</td>
                <td>2</td>
                <td>Desigual</td>
                <td>Campaign 2</td>
                <td>campaign-2</td>
                <td>Filter By ???</td>
                <td>Heading 1 first</td>
                <td>Heading 1 second</td>
                <td>Heading 2</td>
                <td>My Welcome Text</td>
                <td>no</td>
                <td>Exclusive Nav</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>2014-03-15</td>
                <td>2014-03-17</td>
                <td>noindex,nofollow</td>
                <td>campaign keyword</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Campaign 2 Title</td>
                <td>&lt;script&gt;console.log('My head script')&lt;/script&gt;</td>
                <td>no</td>
                <td>yes</td>
                <td>yes</td>
              </tr>
              <tr>
                <td>active</td>
                <td>2</td>
                <td>Zalando</td>
                <td>Campaign 3</td>
                <td>campaign-3</td>
                <td>Filter By ???</td>
                <td>Heading 1 first</td>
                <td>Heading 1 second</td>
                <td>Heading 2</td>
                <td>My Welcome Text</td>
                <td>yes</td>
                <td>Exclusive Nav</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>2014-03-15</td>
                <td>2014-03-17</td>
                <td>noindex,follow</td>
                <td>campaign keyword</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Campaign 3 Title</td>
                <td>&lt;script&gt;console.log('My head script')&lt;/script&gt;</td>
                <td>yes</td>
                <td>no</td>
                <td>yes</td>
                <td>yes</td>
              </tr>
              <tr>
                <td>blocked</td>
                <td>3</td>
                <td>Amazon</td>
                <td>Campaign 4</td>
                <td>campaign-4</td>
                <td>Filter By ???</td>
                <td>Heading 1 first</td>
                <td>Heading 1 second</td>
                <td>Heading 2</td>
                <td>My Welcome Text</td>
                <td>yes</td>
                <td>Exclusive Nav</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>2014-03-15</td>
                <td>2014-03-17</td>
                <td>index,nofollow</td>
                <td>campaign keyword</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Campaign 1 Title</td>
                <td>&lt;script&gt;console.log('My head script')&lt;/script&gt;</td>
                <td>yes</td>
                <td>no</td>
                <td>yes</td>
              </tr>
              <tr>
                <td>active</td>
                <td>4</td>
                <td>Desigual</td>
                <td>Campaign 5</td>
                <td>campaign-5</td>
                <td>Filter By ???</td>
                <td>Heading 1 first</td>
                <td>Heading 1 second</td>
                <td>Heading 2</td>
                <td>My Welcome Text</td>
                <td>no</td>
                <td>Exclusive Nav</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>2014-03-15</td>
                <td>2014-03-17</td>
                <td>index,follow</td>
                <td>campaign keyword</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Campaign 2 Title</td>
                <td>&lt;script&gt;console.log('My head script')&lt;/script&gt;</td>
                <td>no</td>
                <td>yes</td>
                <td>yes</td>
              </tr>
              <tr>
                <td>blocked</td>
                <td>4</td>
                <td>Zalando</td>
                <td>Campaign 6</td>
                <td>campaign-6</td>
                <td>Filter By ???</td>
                <td>Heading 1 first</td>
                <td>Heading 1 second</td>
                <td>Heading 2</td>
                <td>My Welcome Text</td>
                <td>yes</td>
                <td>Exclusive Nav</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>2014-03-15</td>
                <td>2014-03-17</td>
                <td>noindex,nofollow</td>
                <td>campaign keyword</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Campaign 3 Title</td>
                <td>&lt;script&gt;console.log('My head script')&lt;/script&gt;</td>
                <td>yes</td>
                <td>no</td>
                <td>yes</td>
              </tr>
              <tr>
                <td>active</td>
                <td>6</td>
                <td>Amazon</td>
                <td>Campaign 7</td>
                <td>campaign-7</td>
                <td>Filter By ???</td>
                <td>Heading 1 first</td>
                <td>Heading 1 second</td>
                <td>Heading 2</td>
                <td>My Welcome Text</td>
                <td>yes</td>
                <td>Exclusive Nav</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>2014-03-15</td>
                <td>2014-03-17</td>
                <td>noindex,follow</td>
                <td>campaign keyword</td>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Campaign 1 Title</td>
                <td>&lt;script&gt;console.log('My head script')&lt;/script&gt;</td>
                <td>yes</td>
                <td>no</td>
                <td>yes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
