<ul class="coupon-type-filter" style="visibility: hidden;">

  <li class="active" data-filter-type="all"><%= t(:ALL, default: 'ALL') %></li>

  <li data-filter-type="coupon">

    <span></span> <%= t(:COUPONS, default: 'COUPONS').capitalize %>

  </li>

  <li data-filter-type="offer">

    <span></span> <%= t(:OFFERS, default: 'OFFERS').capitalize %>

  </li>

</ul>
