<!-- #my-modal -->

<div class="modal modal--hidden" id="my-modal">

  <div class="modal__dialog">

    <button class="btn btn--close modal__close-btn">

      <i class="icon-cross"></i>

    </button>

    <div class="modal__content">

    </div>

  </div>

</div>

<!-- /#my-modal -->

<div class="backdrop backdrop--hidden"></div>
