<div class="card card-categories-description pannacotta">

  <div class="card-content">

    <p><%= t(:CATEGORYPAGE_SEO, default: nil).html_safe %></p>

  </div>

  <!-- /.card-content -->

</div>

<!-- /.card card-categories-description pannacotta -->
