<% content_for :page_headlines do %>

  <h1 class="page-title"><%= t(:CATEGORYPAGE_HEADLINE, default: 'All Categories') %></h1>

  <!-- /.page-title -->

  <h2 class="page-subtitle"><%= t(:CATEGORYPAGE_SUBTITLE, default: 'CATEGORYPAGE_SUBTITLE') %></h2>

  <!-- /.page-subtitle -->

<% end %>
