.pannacotta {
  &.search-mobile {
    margin-top: 40px;

    .form-group {
      margin-bottom: 8px;

      input {
        border: 1px solid $color-border;
        border-radius: 4px;
        color: $color-inactive;
        font-size: 14px;
        font-weight: lighter;
        padding: 24px 12px;
        text-align: left;

        transition: color 0.3s ease;
        box-shadow: none;

        &:focus {
          color: $color-text;
        }
      }
    }
  }
}
