$font-color: #354043;
$font-gray: #7A7A7A;

$topbar_bg: #FF2E19;
$navigation_bg: #AE3830;
$navigation-link--hover: #1BAFCD;
$background--white: #FFF;
$background--grey: #ECECEC;
$background--light-grey: #F2F2F2;
$input_placeholder: #3E769E;
$border-color: #E3E3E3;
$footer_bg: #031128;
$bullets-color: #49AFF9;
$breadcrumbs-color: #8DA9B1;
$big-coupon-color: #FF9448;
$btn--info: #C20011;
$btn--warning: #BE2A34;

$color-sky: #0173B9;
$color-warning: #D73A00;
$color-sale: #681E6F;
$color-star: #FFC700;
