.pannacotta {
  &.card-categories-description {
    .card-content {
      padding: 25px 25px 15px;

      p {
        color: $color-text;
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
}
