<div class="container">

  <div class="row">
    <% offset_name = "offset-sm-2" %>

    <% if banner = sidebar_banner and banner.present? %>

      <% offset_name = "" %>

    <% end %>

    <div class="col-xs-12 col-sm-8 <%= offset_name %>" id="content" role="main">

      <%= render partial: 'mail_forms/new/mail_form', locals: { title: @title, type: @type } %>

    </div>

    <%- if banner = sidebar_banner and banner.present? -%>

      <div class="col-xs-12 col-lg-4" role="complementary">

        <div class="sidebar sidebar--static">

          <%= render partial: "banners/sidebar_banner" %>

        </div>

      </div>

    <% end %>

  </div>

</div>

<%- content_for :footer_script do -%>
  <script type="text/javascript">
    document.addEventListener('tracking_user_set', function() {
      document.querySelector('.form input[type="submit"]').removeAttribute('disabled');
    });
  </script>
<%- end -%>
