<div class="card card-alert hidden pannacotta">

  <div class="bg-sky card-header">

    <p class="card-title text-center">

      <%= t(:HEY_SEEMS_LIKE_YOU_DO_NOT_HAVE_ANY_SAVED_OFFER, default: 'Hey! Seems like you do not have any saved offer') %>

      <br>

      <%= t(:FIND_THE_BOOKMARK_ICON_AND_SAVE_YOUR_FAVORITE_OFFERS, default: 'Find the {bookmark_icon} and save your favorite offers').gsub('{bookmark_icon}', '<button class="btn btn-no-border btn-white" type="button"><i class="roberto roberto-bookmark"></i></button>').html_safe %>

    </p>

    <!-- /.card-title text-center -->

  </div>

  <!-- /.bg-sky card-header -->

</div>

<!-- /.card card-alert hidden pannacotta -->
