<div class="card additional-info hidden-xs pannacotta">

  <div class="card-header">

    <h4 class="card-title"><%= t(:FOR_HOW_LONG, default: 'FOR_HOW_LONG') %></h4>

    <!-- /.card-title -->

  </div>

  <!-- /.card-header -->

  <div class="card-content">

    <p><%= t(:SAVED_OFFERS_DESCRIPTION, default: 'SAVED_OFFERS_DESCRIPTION') %></p>

  </div>

  <!-- /.card-content -->

</div>

<!-- /.card additional-info hidden-xs pannacotta -->
