<% content_for :page_headlines do %>

  <h1 class="page-title"><%= t(:SAVE_YOUR_DEAL, default: 'Save Your Deal') %></h1>

  <!-- /.page-title -->

  <p class="page-subtitle"><%= t(:AVAILABLE_WHEREVER_YOUR_ARE_OR_NOT, default: 'Available wherever you are... or not') %></p>

  <!-- /.page-subtitle -->

<% end %>
