<% model_class = ShopImport %>

<div class="row">

  <div class="col-xs-12">

    <div class="page-header">

      <h1 class="pull-left">

        <i class="icon-pencil"></i>

        <span>Global <%=t '.title', default: model_class.model_name.human.pluralize.titleize %></span>

      </h1>

      <div class="pull-right">

        <ul class="breadcrumb">

          <li>

            <a href="/pcadmin">

              <i class="icon-home"></i>

            </a>

          </li>

          <li class="separator">

            <i class="icon-angle-right"></i>

          </li>

          <li class="active">Global <%= model_class.model_name.human.pluralize.titleize %></li>

        </ul>

      </div>

    </div>

  </div>

</div>

<%= render partial: 'admin/shared/flash' %>

<div class="box">

  <div class="box-content">

    <% if can? :create, model_class %>

      <div class="btn-toolbar">

        <%= link_to '<i class="icon-plus"></i> New Global Shop Import'.html_safe, new_admin_shop_import_path, class: 'btn btn-success' %>

      </div>

    <% end %>

    <div class="table-responsive">

      <div id="app"></div>

    </div>

  </div>

</div>
