<%- info_fields = info_fields_string(coupon) -%>
<%- description = strip_tags(coupon.description) -%>

<div class="coupon__text">

  <%- if description.present? -%>

    <%- if description.length > 150 -%>

      <span class="coupon__text--truncated"><%= truncate(description, length: 145, escape: false) %></span>

    <%- else -%>

      <span class="coupon__text--truncated"><%= description.html_safe %></span>

    <%- end -%>

  <%- end -%>

  <%- if (description.present? && description.length > 150) || info_fields.present? -%>

    <span class="coupon__text--full coupon__text--hidden">

      <%= description.gsub(/<\/?[^>]*>/, '').html_safe if description.present? %>

      <%= info_fields.html_safe if info_fields.present? %>

    </span>

  <%- end -%>

</div>

<!-- /.coupon__text -->
