<% content_for :page_headlines do %>

  <h1 class="page-title"><%= t('404_HEADLINE'.to_sym, default: '404 Not Found') %></h1>

  <!-- /.page-title -->

  <!-- <p class="page-subtitle"><%#= t('404_PAGETEXT'.to_sym, default: '') %></p> -->

  <!-- /.page-subtitle -->

<% end %>
