<% content_for :page_headlines do %>

  <h1 class="page-title">

    <%= t(:SHOPPAGE_HEADLINE, default: 'Save With This Shops') %>

  </h1>

  <!-- /.page-title -->

  <h2 class="page-subtitle"><%= t(:SHOPPAGE_SUBTITLE, default: 'SHOPPAGE_SUBTITLE') %></h2>

  <!-- /.page-subtitle -->

<% end %>
