<div class="coupon-like">

  <span class="saved_x btn-coupon-bookmark" data-active="<%= t(:ADD_BOOKMARK, default: ' Save this coupon') %>" data-inactive="<%= t(:REMOVE_BOOKMARK, default: 'Added to your list') %>" href="#">

    <i class="roberto-heart-empty"></i> <%= t(:ADD_BOOKMARK, default: ' Save this coupon') %>

  </span>

</div>
