<% model_class = StaticPage %>

<div class="row">

  <div class="col-xs-12">

    <div class="page-header">

      <h1 class="pull-left">

        <i class="icon-file-alt"></i>

        <span><%=t '.title', default: 'New %{model}', model: model_class.model_name.human.titleize %></span>

      </h1>

      <div class="pull-right">

        <ul class="breadcrumb">

          <li>

            <a href="/pcadmin">

              <i class="icon-home"></i>

            </a>

          </li>

          <li class="separator">

            <i class="icon-angle-right"></i>

          </li>

          <li><%= model_class.model_name.human.pluralize.titleize %></li>

          <li class="separator">

            <i class="icon-angle-right"></i>

          </li>

          <li class="active">New</li>

        </ul>

      </div>

    </div>

  </div>

</div>

<div class="row">

  <%= render partial: 'admin/shared/flash' %>

</div>

<div class="row">

  <%= render partial: 'form' %>

</div>
