
$color-ashes:       #4F5764;
$color-berry:       #8801FF;
$color-cloud:       #ECF0F1;
$color-cherry:      #E6314C;
$color-freedom:     #2ECC71;
$color-juicy: #1af02c;
$color-ready: #0cff0e;
$color-royal:       #7200FF;
$color-sky:         #07C;
$color-border:      #D8D8D8;
$color-card-bg:     #F9F9F9;
$color-title:       #262626;
$color-headline:    #404040;
$color-subheadline: #737373;
$color-text:        #404040;
$color-bg-hero:     #BBB;
$color-inactive:    #C6CFD1;
$color-body-bg:     #ECECEC;
$color-header-bg:   #F6F6F6;
$color-white:       #FFF;

$image-base-url: '/flat_2016/assets/images/flat_2016/';

