/* Hero Start */
@critical campaigns.css {
  .hero {
    height: 300px;
    border: 1px solid #EAEAEA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 992px) {
      padding: 30px 0;
    }

    &__h1 {
      color: $themed--color-8;
      font-weight: 900;
      font-size: 62px;
      font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
      line-height: 84px;
      text-transform: none;

      @media (max-width: 992px) {
        font-size: 50px;
        line-height: 1.5;
      }

      @media (max-width: 767px) {
        font-size: 32px;
        line-height: 1.1;
      }
    }

    &__h2 {
      margin-top: 32px;
      color: $themed--color-primary;
      font-size: 26px;
      text-transform: none;

      @media (max-width: 767px) {
        margin-top: 19px;
        font-size: 18px;
      }
    }

    &__cta {
      margin-top: 30px;
      padding: 8px 32px;
      color: $themed--white;
      font-size: 18px;
      background: $themed--color-primary;

      &:hover {
        background: darken($themed--color-primary, 5%);
      }
    }
  }

  .countdown {
    &-time {
      text-shadow: 2px 3px 10px $themed--color-primary, 0 0 10px $themed--color-primary, 0 0 10px #EF2141, 0 0 10px $themed--color-primary;
    }
  }

  .hero {
    padding: 101px 0 120px;
    color: $themed--white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: right center;

    @media (max-width: 1199px) {
      padding-bottom: 103px;
    }

    @media (max-width: 768px) {
      padding-bottom: 29px;
    }

    &__h1 {
      margin-top: -11px;
      font-size: 62px;
      font-family: serif;
      text-transform: uppercase;

      @media (max-width: 1199px) {
        margin-top: -13px;
        font-size: 53px;
      }

      @media (max-width: 768px) {
        margin-top: -11px;
        font-size: 35px;
      }
    }

    &__h2 {
      font-weight: 300;
      font-size: 24px;
      text-transform: uppercase;

      @media (max-width: 1199px) {
        font-size: 21px;
      }

      @media (max-width: 768px) {
        margin-top: 17px;
        font-size: 14px;
      }
    }

    &__sale {
      margin-top: -34px;

      @media (max-width: 1199px) {
        max-height: 116px;
      }

      @media (max-width: 768px) {
        max-height: 76px;
        margin-top: -25px;
      }
    }

    #counter {
      margin-top: 50px;

      @media (max-width: 1199px) {
        margin-top: 139px;
      }

      @media (max-width: 768px) {
        margin-top: 290px;
      }
    }

    #countdown {
      margin: 0 auto;
    }

    .countdown {
      &-time {
        font-weight: 700;
        font-size: 63px;
        line-height: 1;

        @media (max-width: 1199px) {
          font-size: 53px;
        }
      }

      &-labels {
        font-size: 12px;
        text-transform: uppercase;
        opacity: 0.5;
      }
    }

    &__cta {
      padding: 6px 30px;
      font-size: 21px;
    }
  }

  /* Fallback Header Image */
  #header_image {
    margin-bottom: 20px;
  }

  .w-rotated {
    &__headline {
      &.h2 {
        margin-bottom: 4px;
        font-weight: 300;
        font-size: 48px;
        text-align: center;
        text-transform: uppercase;
        float: none;
      }
    }
  }
}

/* Hero end */

/* Top Links Start */
.top-links {
  padding: 34px 0;

  @media (max-width: 767px) {
    padding: 23px 0 14px;
  }

  &__inner {
    text-align: center;
  }

  &__btn {
    display: inline-block;
    margin: 0 3px;
    padding: 6px 24px;
    color: $themed--color-secondary;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid transparentize($themed--toplink-color, 0.7);
    border-radius: $themed--border-radius;

    &:hover {
      color: lighten($themed--color-secondary, 15%);
      background: transparentize($themed--toplink-bg, 0.95);
    }

    @media (max-width: 767px) {
      width: 223px;
      margin: 0 auto 10px;
    }
  }
}

/* Top Links End */

/* Hot Offers Start */
.hot-offers {
  padding: 20px 0 77px;

  @media (max-width: 767px) {
    padding-top: 25px;
  }

  &__header {
    text-align: center;
  }

  &__offers {
    padding-top: 43px;

    @media (max-width: 767px) {
      padding-top: 40px;
    }
  }

  @media (min-width: 1024px) {
    div[class^=col-md-] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.offer {
  position: relative;
  height: 332px;
  margin-bottom: 10px;
  background-color: #FFF;
  cursor: pointer;

  @media (max-width: 767px) {
    height: 299px;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    @media #{$xs} {
      background-size: cover;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;

    @media (max-width: 768px) {
      padding: 10px;
    }
  }

  &__head,
  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
  }

  &__vendor {
    max-width: 110px;

    &--transparent {
      background: rgba(255, 255, 255, 0.6);
    }
  }

  &__discount {
    position: relative;
    width: 102px;
    height: 28px;
    color: $themed--white;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }

  &__discount-tag {
    position: absolute;
    left: 0;
  }

  &__discount-value {
    position: relative;
  }

  &__information {
    max-width: 60%;

    @media (max-width: 767px) {
      max-width: 80%;
    }
  }

  &__backing {
    background: rgba(246, 246, 246, 0.85);
    box-shadow: -3px 0 0 rgba(246, 246, 246, 0.85);
  }

  &__name {
    font-weight: 700;
  }

  &__description {
    font-size: 12px;
    line-height: 1.5;
  }

  &__cta.btn {
    margin: 16px 0 0 -4px;
    padding: 6px 30px;
    color: $themed--white;
    background: $themed--color-primary;
  }

  /* modifiers start */
  &--left-align {
    .offer {
      &__img {
        background-position: 100% 70%;
      }

      &__body {
        @media (max-width: 768px) {
          flex-direction: row;
          align-items: flex-end;
        }
      }
    }
  }

  &--bg {
    background-color: $themed--color-7;
  }

  &--no-bg {
    background: none;
    border: 1px solid darken($themed--color-bg, 9%);
  }

  &--small {
    .offer {
      &__img {
        background-position: right center;
      }

      &__information {
        max-width: 80%;
      }
    }
  }

  &--right-align {
    .offer {
      &__img {
        background-position: bottom left;
      }

      &__body {
        align-items: flex-end;
        align-self: flex-end;

        @media (max-width: 768px) {
          flex-direction: row;
          align-items: flex-end;
        }
      }
    }
  }

  &--full-bg {
    .offer {
      &__img {
        background-size: cover;
      }
    }
  }

  &--green-label {
    .offer {
      &__discount-tag #a {
        fill: $themed--color-1;
      }
    }
  }

  &--yellow-label {
    .offer {
      &__discount-tag #a {
        fill: $themed--color-2;
      }
    }
  }

  /* Modifiers stop */
}

/* Hot Offers End */

/* Subpage Teaser Start */
.subpage-teaser {
  padding: 0 0 68px;
  background: $themed--color-font;

  @media (max-width: 767px) {
    padding: 0 0 28px;
  }

  &__header {
    position: relative;
    padding-top: 88px;
    text-align: center;

    @media (max-width: 767px) {
      padding-top: 46px;
    }

    .section-header {
      margin-top: 0;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    right: 159px;

    @media (max-width: 1199px) {
      right: 10px;
    }

    @media (max-width: 767px) {
      right: 0;
      max-height: 88px;
    }
  }

  &__wrapper {
    padding-top: 90px;

    @media (max-width: 767px) {
      padding-top: 31px;
    }
  }

  &__item {
    display: block;
    max-width: 350px;
    margin: 0 auto 23px;

    &:hover {
      text-decoration: none;
    }
  }

  &__picture {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 233px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58, 58, 58, 0.8);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: 100px;
    transform: translate(-50%, -50%);
  }

  &__text {
    padding: 13px 0;
    color: $themed--color-4;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    background: $themed--white;
  }
}

/* Subpage Teaser End */

/* Top Sales Start */

.top-sales {
  padding: 21px 0 49px;
  background: $themed--color-bg;

  &__header {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    padding-top: 9px;

    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    display: block;
    max-width: 277px;
    margin: 0 5px 10px;
    padding: 15px 24px 30px;
    color: $themed--color-font;
    text-align: center;
    background-image: url('https://static.savings-united.com/pc/assets/flat_2016/top-sales__bg.svg');
    background-size: 100% 100%;
  }

  &__logo {
    display: block;
    max-height: 70px;
    margin: 0 auto 31px;
  }

  &__image {
    height: 114px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__pictures {
    margin-bottom: 31px;
  }

  &__description {
    padding: 0 10px;
  }

  &__name {
    margin: 0 0 10px;
    color: $themed--color-4;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }

  &__text {
    display: inline-block;
    min-height: 48px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }
}

/* Top Sales End */

/* Deals Start */
.deals {
  padding: 71px 0 43px;
  background: $themed--color-bg;

  &__header {
    text-align: center;
  }

  &__wrapper {
    padding-top: 41px;
  }
}

/* Deals End */

/* Premium Hero Widget Start */
.premium-hero {
  margin: 31px 0;
  background-color: #FFF;

  .container {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  }

  &__bg {
    .row {
      @media (max-width: 1199px) {
        background-position: calc(100% + 150px);
      }

      @media (max-width: 992px) {
        background: none !important;
      }
    }
  }

  &__mobile-pic {
    height: 240px;
    background-position: calc(100% + 100px) center;
    background-size: cover;
  }

  &__header {
    margin: 130px 0 118px;

    @media (max-width: 992px) {
      margin: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 16px;
    padding: 0 60px;
    font-size: 22px;
    line-height: 1.3;
    text-align: center;

    @media (max-width: 767px) {
      padding: 0 10px;
    }
  }

  &__bottom {
    padding-top: 23px;
  }

  .col-sm-4 {
    margin-bottom: 20px;

    @media (max-width: 767px) {
      padding-top: 20px;
      border-top: 1px solid lightgray;
    }
  }

  &__img {
    float: left;
    width: 100px;

    @media (max-width: 767px) {
      display: block;
      float: none;
      margin: 0 auto;
    }
  }

  &__cta.btn {
    margin: auto 0 0;

    @media (max-width: 767px) {
      margin: 20px auto 0;
    }
  }

  &-item {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: calc(100% - 102px);
      height: 150px;
      margin-bottom: 20px;
      padding-left: 14px;

      @media (max-width: 992px) {
        width: 100%;
      }

      @media (max-width: 767px) {
        height: auto;
        margin-top: 20px;
      }
    }

    &__title {
      display: block;
      font-weight: 700;
    }

    &__desc {
      display: block;
      margin-top: 5px;
      font-weight: lighter;
      font-size: 12px;
    }
  }
}

/* Premium Hero Widget End */

/* Coupon Start */
.item {
  position: relative;
  display: flex;
  flex: 0 1 49%;
  min-height: 160px;
  margin-right: 5px;
  margin-bottom: 6px;
  padding: 0;
  border-radius: 2px;

  @media (max-width: 992px) {
    flex: 0 1 100%;
    flex-direction: column;
  }

  & .padding {
    background: $themed--color-bg;
    box-shadow: inset 0 0 0 1px darken($themed--color-bg, 10%);
  }
}

.coupon {
  &-header,
  &-body,
  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &-header,
  &-body {
    height: 160px;
  }

  &-header {
    flex: 0 27%;
    max-width: 27%;
    padding: 0 5px;

    @media (max-width: 1199px) {
      flex: 0 20%;
      max-width: 20%;
    }

    @media (max-width: 992px) {
      flex: 1 100%;
      min-width: 100%;
    }
  }

  &-body {
    position: relative;
    flex: 0 0 47%;
    flex-direction: column;
    max-width: 47%;
    padding-right: 4px;
    padding-left: 24px;

    .divider {
      li {
        background-color: $themed--color-light-bg;
      }
    }

    .show-coupon-details {
      color: #24507A;
    }

    &::before,
    &::after {
      background-color: $themed--color-light-bg;
    }

    @media (max-width: 1199px) {
      flex: 0 0 53%;
      max-width: 53%;
    }

    @media (max-width: 992px) {
      flex: 1 100%;
      min-width: 100%;
    }

    .divider {
      position: absolute;
      top: 0;
      left: -4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      height: 100%;
      padding: 18px 0;
      list-style-type: inherit;

      @media (max-width: 992px) {
        top: -15px;
        flex-direction: row;
        width: 100%;
        height: 8px;
        padding: 0 8px;
      }

      li {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
      }
    }

    .show-coupon-details {
      cursor: pointer;
    }

    &::before,
    &::after {
      position: absolute;
      left: -12px;
      display: block;
      width: 24px;
      height: 24px;
      content: "";
      border-radius: 100%;
    }

    &::before {
      top: -12px;

      @media (max-width: 992px) {
        top: -22px;
      }
    }

    &::after {
      bottom: -12px;

      @media (max-width: 992px) {
        top: -22px;
        right: -12px;
        left: auto;
      }
    }
  }

  &-footer {
    flex: 0 0 26%;
    flex-direction: column;
    max-width: 26%;
    padding-top: 40px;

    @media (max-width: 1199px) {
      flex: 0 0 30%;
      max-width: 30%;
    }

    @media (max-width: 992px) {
      flex: 1 100%;
      min-width: 100%;
    }
  }

  &-social {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;

    span {
      display: inline-block;
      margin: 9px 9px 0 0;
      font-size: 16px;
      line-height: 1;
      cursor: pointer;

      & > span {
        margin: 0;
      }

      &.coupon-share {
        float: right;
      }

      &.coupon-like {
        color: $themed--color-primary;
      }
    }
  }

  &-title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 14px;
  }

  &-description {
    font-weight: 300;
    font-size: 12px;
  }

  &-info {
    margin: 15px 0;
    font-size: 12px;
    text-align: left;
  }

  &-additional-info {
    width: 100%;
    color: $themed--color-primary;
    font-weight: 300;
    font-size: 12px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &-cta {
    .o-button {
      color: $themed--white;
      background: $themed--color-primary;
    }
  }
}

.show-more {
  max-width: 175px;
  margin-top: 38px;
  color: $themed--color-5;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid $themed--color-5;
  border-radius: 4px;

  &-coupons.btn {
    display: block;
    max-width: 175px;
    margin: 20px auto;
  }

  span {
    &::before {
      display: inline-block;
      float: left;
      width: 20px;
      height: 18px;
      content: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg version="1.1" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-905 -5314)"><use transform="translate(905 5314)" fill="#627A89" xlink:href="#b"/><use transform="translate(907.26 5321.2)" fill="#627A89" xlink:href="#a"/></g><defs><path id="b" d="m3.6653 3.7678c2.9066-2.5374 7.2563-2.5762 10.203-0.25994l-2.3357 0.08535c-0.3015 0.01164-0.5347 0.25219-0.5226 0.54318 0.012 0.28323 0.2532 0.50438 0.5427 0.50438h0.0201l3.5859-0.12804c0.2935-0.01164 0.5227-0.24055 0.5227-0.52377v-0.0388-0.0194-0.00388l-0.1327-3.422c-0.0121-0.29099-0.2653-0.51602-0.5628-0.50438-0.3015 0.01164-0.5347 0.25219-0.5226 0.54318l0.0844 2.1456c-1.4593-1.1523-3.2563-1.8196-5.178-1.9128-2.3799-0.1164-4.6674 0.67121-6.4322 2.2154-2.4282 2.1223-3.4573 5.3503-2.6854 8.4231 0.060302 0.2406 0.28141 0.3996 0.52664 0.3996 0.044221 0 0.084422-0.0038 0.12864-0.0155 0.28944-0.0698 0.47036-0.353 0.398-0.6324-0.67538-2.7004 0.22512-5.5365 2.3598-7.3988z"/><path id="a" d="m15.484 0.3995c-0.0723-0.27935-0.3658-0.45394-0.6553-0.3841-0.2894 0.069837-0.4703 0.35307-0.3979 0.63241 0.6794 2.7004-0.2252 5.5365-2.3599 7.3988-1.4995 1.3075-3.3809 1.9516-5.2543 1.9516-1.789 0-3.5739-0.58585-5.0131-1.742l2.3638-0.20564c0.29749-0.02715 0.51859-0.27934 0.49045-0.57033s-0.28945-0.5005-0.59096-0.47334l-3.5739 0.31039c-0.29749 0.02715-0.5186 0.27934-0.49045 0.57033l0.32161 3.4492c0.024121 0.2716 0.26131 0.4772 0.5387 0.4772 0.01608 0 0.032161 0 0.048242-0.0039 0.29749-0.0272 0.5186-0.2793 0.49046-0.5703l-0.19297-2.099c1.4593 1.1407 3.2483 1.8041 5.1578 1.8972 0.15276 0.0078 0.30552 0.0117 0.45427 0.0117 2.2151 0 4.3216-0.7838 5.978-2.2271 2.4281-2.1223 3.4573-5.3464 2.6854-8.4231z"/></defs></svg>');
      margin-top: 1px;
    }
  }

  .fa {
    display: none;
  }
}

/* Coupon stop */

/* About Campaign Start */
.about-campaign {
  padding: 69px 0 30px;
  background: $themed--white;

  @media (max-width: 992px) {
    padding: 45px 0 70px;
  }

  @media (max-width: 768px) {
    padding: 26px 0 5px;
  }

  &__wrapper {
    padding-top: 122px;

    @media (max-width: 992px) {
      padding-top: 19px;
    }

    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  &__name {
    max-width: 85%;
    text-align: center;

    @media (max-width: 1199px) {
      max-width: 100%;
    }
  }

  &__title {
    color: $themed--color-6;

    @extend .hero__h1;

    @media (max-width: 992px) {
      font-size: 62px;
    }

    @media (max-width: 768px) {
      font-size: 43px;
    }
  }

  &__sale {
    max-width: 100%;

    @media (max-width: 992px) {
      margin-top: 10px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;

    @media (max-width: 992px) {
      margin-top: 20px;
    }

    p {
      margin-bottom: 17px;
    }
  }
}

/* About Campaign Stop */

/*  Common elements Start */
.section {
  &-header {
    margin-bottom: 4px;
    color: $themed--color-secondary;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;

    &--inverse {
      color: $themed--white;
    }

    @media (max-width: 767px) {
      margin-bottom: 9px;
      font-size: 25px;
    }
  }

  &-subheader {
    margin: 0 0 7px;
    color: $font-color;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
  }
}

/*  Common elements End */

/* Fallback modifiers Start */

.themed--grid-fallback {
  .container {
    width: 100% !important;
    padding: 0;
    background: none;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .deals {
    background: transparent !important;
  }

  .col-lg-10.col-lg-offset-1 {
    width: 100%;
    margin-left: 0;
  }

  @media (min-width: 767px) {
    .subpage-teaser__wrapper {
      padding-right: 30px;
      padding-left: 30px;
    }

    .top-sales__wrapper {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .discount-bubble {
    $size: 170px;
    $padding: 5px;

    width: $size;
    height: $size;

    &::before {
      top: $padding;
      left: $padding;
      width: $size - 2*$padding;
      height: $size - 2*$padding;
    }

    &__value {
      padding-bottom: 24px;
      font-size: 44px;
    }
  }

  .premium-hero {
    &__bg {
      @media (max-width: 1199px) {
        background-position: calc(100% + 150px);
      }

      @media (max-width: 992px) {
        background: none !important;
      }
    }
  }

  .premium-offers {
    &__offers {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

/* Fallback modifiers Stop */

/* Discount bubbles Start */

.discount-bubbles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0 50px;

  @media (max-width: 1199px) {
    width: 1000px;
    margin: 0 auto;
  }

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 992px) {
      margin: 0 -15px;
      overflow-x: scroll;
    }
  }
}

.discount-bubble {
  $size: 190px;
  $padding: 7px;

  position: relative;
  width: $size;
  height: $size;
  margin: 5px;
  padding-top: 43px;
  text-align: center;
  background: linear-gradient(36.75deg, #CD042C 14.65%, #FF4D70 77.35%);
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

  &::before {
    position: absolute;
    top: $padding;
    left: $padding;
    content: '';
    display: block;
    box-sizing: border-box;
    width: $size - 2*$padding;
    height: $size - 2*$padding;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15), inset 2px 2px 2px rgba(0, 0, 0, 0.15);
  }

  &__value {
    display: inline-block;
    width: 63%;
    padding-bottom: 29px;
    color: #FFF;
    font-weight: 600;
    font-size: 56px;
    line-height: 0.7;
    text-shadow: 1px 0 1px rgba(105, 81, 85, 0.5);
    border-bottom: 1px solid #C01837;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &__percent {
    font-size: 28px;
    vertical-align: top;
  }

  &__logo {
    display: block;
    max-width: 80px;
    max-height: 36px;
    margin: 13px auto 0;
    filter: brightness(0) invert(1);
  }
}

/* Discount bubbles Stop */

/* grid-fallback Start */
@critical campaigns.css {
  #header_image {
    &.hero {
      justify-content: center;
      padding: 19px 26px;
      color: $themed--white;
      text-align: center;

      h1 {
        display: inline-block;
        margin-bottom: 7px;
        padding: 8px 0;
        line-height: 1;
      }

      h2 {
        margin-top: 0;
        padding: 4px 0;
      }

      @media #{$xs} {
        .hero__title {
          &--h1-small {
            font-size: 23px;
          }

          &--h2-small {
            font-size: 20px;
          }
        }
      }

      &--text-bg h1,
      &--text-bg h2 {
        background: rgba(53, 64, 67, 0.8);
      }

      &--align {
        &-top {
          align-items: flex-start;
        }

        &-middle {
          align-items: center;
        }

        &-bottom {
          align-items: flex-end;
        }

        &-center {
          justify-content: center;
        }

        &-left {
          justify-content: flex-start;
          text-align: left;
        }

        &-right {
          justify-content: flex-end;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .themed.themed--grid-fallback .shop-bubbles {
    margin-right: -15px;
    margin-left: -15px;
  }
}

/* grid-fallback Stop */
